.deprecated {
  color: #c9c9c9;
}
.unverified {
  color: #c99e2f;
}
.vegetarian {
  color: #fab414;
}
.vegan {
  color: #76a93b;
}

.canteen {
  padding: 3px 3px 10px 10px;
  margin: 5px 0px 15px;
  box-shadow: 0px 4px 10px #888888;
  border-radius: 3px;
}

@media (min-width: 501px) {
  .displayOnSmallWidth, .displayBlockOnSmallWidth {
    display: none;
  }
  .displayOnHighWidth {
    display: inline;
  }
}
@media (max-width: 500px) {
  th {
    display: none;
  }
  td {
    display: inline-block;
    width: 100% !important;
    text-align: left !important;
  }
  .displayOnSmallWidth {
    display: inline;
  }
  .displayBlockOnSmallWidth {
    display: block;
  }
  .displayOnHighWidth {
    display: none;
  }
}

.hidden {
  display: none;
}

.dish-row>td {
  padding: 5px;
}

.icon {
  padding-right: 5px;
}