.deprecated {
  color: #c9c9c9;
}
.unverified {
  color: #c99e2f;
}
.vegetarian {
  color: #76a93b;
}

.rating {
  display:inline;
  padding: 4px;
}

a {
  text-decoration: none !important;
}

.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

@media (min-width: 501px) {
  .displayOnSmallWidth, .displayBlockOnSmallWidth {
    display: none;
  }
  .displayOnHighWidth {
    display: inline;
  }
}
@media (max-width: 500px) {
  th {
    display: none;
  }
  td {
    display: inline-block;
    width: 100% !important;
    text-align: left !important;
  }
  .displayOnSmallWidth {
    display: inline;
  }
  .displayBlockOnSmallWidth {
    display: block;
  }
  .displayOnHighWidth {
    display: none;
  }
}
