.deprecated {
  color: #c9c9c9;
}
.unverified {
  color: #c99e2f;
}
.vegetarian {
  color: #76a93b;
}

@media (min-width: 501px) {
  .displayOnSmallWidth {
    display: none;
  }
  .displayOnHighWidth {
    display: block;
  }
}
@media (max-width: 500px) {
  th {
    display: none;
  }
  td {
    display: block;
    text-align: left !important;
  }
  .displayOnSmallWidth {
    display: block;
  }
  .displayOnHighWidth {
    display: none;
  }
}
