.rating {
    margin:0;
}

.form li {
    list-style:none;
}

.hide {
    display:none;
}

.rating_item input[type="radio"] {
    position:absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
    cursor:pointer;
    width:17px;
}

.rating_item span {
    height:16px;
    line-height:16px;
    padding:1px 22px 1px 0; /* 1px FireFox fix */
    background:url('/static/mensautils/star.png') no-repeat -22px 0;
}

.rating_item input[type="radio"]:checked + span {
    background-position:-22px 0;
}

.rating_item input[type="radio"]:checked + span ~ span {
    background-position:0 0;
}