{% load static %}<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'mensautils/css/bootstrap.min.css' %}">

    <title>Mensa-Speisepläne der Uni Hamburg</title>
  </head>
  <body>
    <div class="container-fluid" style="margin: 0.5em 1em;">
      {% block content %}
      {% endblock content %}

      <p>
        Powered by <a href="https://gogs.mafiasi.de/mafiasi/mensa-utils">mensa-utils</a>.<br />
        Alle Angaben ohne Gewähr. <a href="https://mafiasi.de/base/imprint">Impressum</a>
      </p>
    </div>
  </body>

  <script type="text/javascript" src="{% static 'mensautils/jquery.js' %}"></script>
  {% block additional_js %}
  {% endblock additional_js %}
</html>
