{% extends 'mensautils/base.html' %}
{% load static %}

{% block content %}
  <h1>Mensa-Speisepläne des Studierendenwerks Hamburg</h1>

  {% if request.user.is_authenticated %}
    <p>Hallo, <em>{{ request.user.username }}</em>.</p>
  {% endif %}

  <form method="POST" action="{{ request.get_full_path }}">
    {% csrf_token %}

    <p>Möchtest Du die Benachrichtigung für <em>{{ notification.pattern }}</em> wirklich löschen?</p>
    <input type="submit" value="Benachrichtigung löschen" />
  </form>

  <p>
    <a href="{% url 'mensautils.canteen:index' %}">Startseite</a> &bull;
    <a href="{% url 'mensautils.canteen:notification' %}">Benachrichtigungen</a>
  </p>
{% endblock content %}
