{% extends 'mensautils/base.html' %}
{% load static %}
{% load rating %}
{% load canteen %}

{% block content %}
  <h1>Mensa-Speisepläne in Hamburg</h1>

  {% if request.user.is_authenticated %}
    <p>Hallo, <em>{{ request.user.first_name }}</em>.</p>
  {% endif %}

  <div class="row">
    {% for day, canteens in mensa_data.items %}
      <div class="col-md-6">
        <h2>
          {{ day|day_description }}
        </h2>
        {% for canteen, entries in canteens.items %}
          <div id="canteen-{% if day == first_day %}0{% else %}99{% endif %}-{{ canteen.pk }}"
               class="canteen canteen-{{ canteen.pk }}" data-canteennumber="{{ canteen.pk }}">
            <h3>
              {{ canteen }}
              <div class="icons pull-right">
              <a class="up-{{ canteen.pk }} move-link" href="javascript:moveCanteen(-1, {{ canteen.pk }});">
                <span class="icon glyphicon glyphicon-menu-up"></span>
              </a>
              <a class="down-{{ canteen.pk }} move-link" href="javascript:moveCanteen(1, {{ canteen.pk }});">
                <span class="icon glyphicon glyphicon-menu-down"></span>
              </a>
              <a class="delete-{{ canteen.pk }} delete-link" href="javascript:hideCanteen({{ canteen.pk }});">
                <span class="icon glyphicon glyphicon-trash"></span>
              </a>
            {% if day == today %}
              <a href="{% url 'mensautils.canteen:submit_serving' canteen.pk %}">
                <span class="icon glyphicon glyphicon-plus"></span>
              </a>
            {% endif %}
            </div>
            </h3>
            <table class="table table-striped table-hover">
              <tr>
                <th>
                </th>
                {% if day == today %}
                  <th>
                  </th>
                  <th>
                    Bewertung
                  </th>
                {% endif %}
                <th>
                  Preis
                </th>
                <th>
                  Bed.
                </th>
                <th>
                  Gericht
                </th>
                <th>
                </th>
              </tr>
              {% for entry in entries %}
                <tr class="dish-row">
                  <td>
                    {% if entry.dish.vegan %}
                      <span class="vegan">vegan</span>
                    {% elif entry.dish.vegetarian %}
                      <span class="vegetarian">veget.</span>
                    {% endif %}
                  </td>
                  {% if day == today %}
                    <td {% if entry.deprecated %}class="deprecated"{% elif not entry.verified %}class="unverified"{% endif %}>
                      <a class="displayOnHighWidth" href="{% url 'mensautils.canteen:rate_serving' entry.pk %}" title="Bewerten"><span class="glyphicon glyphicon-asterisk"></span></a>
                      <a class="displayOnSmallWidth" href="{% url 'mensautils.canteen:rate_serving' entry.pk %}" title="Bewerten">Bewerten</a>
                    </td>
                    <td 
                        {% if entry.deprecated %}class="deprecated"{% elif not entry.verified %}class="unverified"{% endif %}>
                      {% if entry.average_rating %}
                        {{ entry.average_rating|stars }}<br />
                        ({{ entry.rating_count }} Pers.)
                      {% endif %}
                    </td>
                  {% endif %}
                  <td 
                      {% if entry.deprecated %}class="deprecated"{% elif not entry.verified %}class="unverified"{% endif %}>
                    <span class="displayOnSmallWidth"><strong>Preis:</strong></span>
                    {{ entry.price }} €
                  </td>
                  <td 
                      {% if entry.deprecated %}class="deprecated"{% elif not entry.verified %}class="unverified"{% endif %}>
                    <span class="displayOnSmallWidth"><strong>Preis (Bedienstete):</strong></span>
                    {{ entry.price_staff }} €
                  </td>
                  <td 
                      {% if entry.deprecated %}class="deprecated"{% elif not entry.verified %}class="unverified"{% endif %}>
                    {{ entry.dish.name }}
                    {% if entry.maybe_deprecated %}
                      <span title="Mindestens ein Nutzer hat dieses Gericht als nicht verfügbar gemeldet.">
                        <em>(???)</em>
                      </span>
                    {% endif %}
                    <hr class="displayBlockOnSmallWidth" />
                  </td>
                  <td>
                    {% if entry.date == today %}
                      {% if not entry.deprecated %}
                        <a href="{% url 'mensautils.canteen:report_deprecation' entry.pk %}">
                          <span class="icon glyphicon glyphicon-trash"></span>
                        </a>
                      {% endif %}
                      {% if not entry.official and not entry.verified %}
                        <a href="{% url 'mensautils.canteen:verify_serving' entry.pk %}">
                          <span class="icon glyphicon glyphicon-ok"></span>
                        </a>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% empty %}
                <td colspan="5"><em>Keine Daten.</em></td>
              {% endfor %}
            </table>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <hr />

  <h4>Legende</h4>
  <p>
    <span class="vegetarian">veget.</span> vegetarisch<br />
    <span class="vegetarian">vegan</span> vegan<br />
    <span class="deprecated">Gericht wurde aus dem Speiseplan entfernt</span><br />
    <span class="unverified">Das Gericht wurde von einem Nutzer vorgeschlagen und noch nicht bestätigt.</span>
  </p>

  <hr />

  <p id="showHiddenCanteensLink"><a href="javascript:showHiddenCanteens();">Ausgeblendete Mensen wieder einblenden</a></p>
  <p><a href="{% url 'mensautils.canteen:notification' %}">Benachrichtigungen konfigurieren</a></p>
  <p>
    Letzte Aktualisierung: {{ last_updated|date:"j. F Y H:i:s" }}<br />
    <a href="{% url 'mensautils.canteen:stats' %}">Statistiken</a> &bull;
    {% if request.user.is_authenticated %}
      <a href="{% url 'logout' %}?next={{ request.get_full_path }}">Abmelden</a>
    {% else %}
      <a href="{% url 'login' %}?next={{ request.get_full_path }}">Anmelden</a>
    {% endif %}
  <p>
  <div class="hidden" style="display: none;">
    <div id="auth">{% if request.user.is_authenticated %}1{% else %}0{% endif %}</div>
    <div id="userConfigAvailable">{% if user_config_available %}1{% else %}0{% endif %}</div>
    <div id="serverCanteenOrder">{{ user_config.0 }}</div>
    <div id="serverHiddenCanteens">{{ user_config.1 }}</div>
  </div>
{% endblock content %}

{% block additional_js %}
  <script type="text/javascript" src="{% static 'mensautils/mensa.js' %}"></script>
{% endblock additional_js %}
{% block additional_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'mensautils/css/base.css' %}" />
{% endblock additional_css %}
