{% extends 'mensautils/base.html' %}
{% load static %}

{% block content %}
  <h1>Mensa-Speisepläne des Studierendenwerks Hamburg</h1>

  {% if request.user.is_authenticated %}
    <p>Hallo, <em>{{ request.user.username }}</em>.</p>
  {% endif %}

  <form method="POST" action="{{ request.get_full_path }}">
    {% csrf_token %}
    <p>
      Möchtest Du <strong>{{ serving.dish.name }}</strong>
      in der Mensa <em>{{ serving.canteen.name }}</em> wirklich als nicht verfügbar melden?
    </p>

    <input type="submit" value="Als nicht verfügbar melden" />
  </form>
{% endblock content %}
