{% extends 'mensautils/base.html' %}
{% load static %}

{% block content %}
  <h1>Mensa-Speisepläne in Hamburg</h1>

  {% if request.user.is_authenticated %}
    <p>Hallo, <em>{{ request.user.username }}</em>.</p>
  {% endif %}

  <form method="POST" action="{{ request.get_full_path }}">
    {% csrf_token %}
    <p>
      Hier kannst Du ein Gericht, das heute von der Mensa
      <em>{{ serving.canteen.name }}</em> angeboten wird und nicht im
      Speiseplan steht, vorschlagen.
      Bitte stelle sicher, dass noch kein
      entsprechendes Gericht bereits von einem anderen Nutzer
      vorgeschlagen wurde. Übernehme die Gerichtbezeichnung nach Möglichkeit
      wörtlich von dem offiziellen Mensa-Speiseplan vor Ort.<br />
      Die Mensa, für die Du das Gericht angibst, ist <em>{{ canteen.name }}</em>.
    </p>

    <p>
      <label for="id_name">Bezeichnung:</label>
      {{ form.name }}
      {% for error in form.name.errors %}
        {{ error }}<br />
      {% endfor %}
    </p>
    <p>
      <label for="id_name">Preis:</label>
      {{ form.price }}
      {% for error in form.price.errors %}
        {{ error }}<br />
      {% endfor %}
    </p>
    <p>
      <label for="id_name">Preis (Bedienstete):</label>
      {{ form.price_staff }}
      {% for error in form.price_staff.errors %}
        {{ error }}<br />
      {% endfor %}
    </p>
    <p>
      {{ form.vegetarian }}
      <label for="id_vegetarian">Vegetarisch</label>
      {% for error in form.vegetarian.errors %}
        {{ error }}<br />
      {% endfor %}
    </p>
    <p>
      {% for error in form.non_field_errors %}
        {{ error }}<br />
      {% endfor %}
    </p>
    <input type="submit" value="Gericht ergänzen" />
  </form>
{% endblock content %}
